<app-customer-layout></app-customer-layout>



<div class="myContent; container-fluid" style="text-align:center">
  <div class="jumbotron" style="text-align:center; margin-top:70px;">
    <h2>Feedback Response</h2>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p style="text-align:left">
          Thanks for your valuable time
          We will get back to you shortly
        </p>

      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <img class="img-thumbnail" src="src/app/images/feedback_image.jpg" style="height:300px;width:1000px;display:block;margin:0px auto;" />
      </div>
      <div class="col-md-1"></div>

    </div>
  </div>
</div>
