<app-customer-layout></app-customer-layout>
<div style="text-align:center;">
  <h1> Package History</h1>
  <br />
  <br />

  <div class="table-responsive">
    <table class="table" style="border:5px solid rgba(200,230,242,2);" *ngIf="package && package.length!=0;">
      <tr style=" background-color:rgba(220,230,240,3); font-size:12pt;">
        <th style="text-align:center;">Transaction ID</th>
        <th style="text-align:center;"> AWB Number</th>
        <th style="text-align:center;"> From Address</th>
        <th style="text-align:center;">To Address</th>
        <th style="text-align:center;">Status</th>
      </tr>
      <tr style="background-color:white" *ngFor="let pack of package">
        <td>{{pack.tid}}</td>
        <td>{{pack.awbno}}</td>
        <td>{{pack.fromAddress}}</td>
        <td>{{pack.toAddress}}</td>
        <td>{{pack.status}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="showMessageDiv">
    <h4 class="jumbotron" style="text-align:center">No Transactions Available</h4>
  </div>
</div>




