<nav class="navbar navbar-expand-md navbar-dark" style="background-color:darkslategrey; ">
  <a class="navbar-brand" href="#" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <img src="src/app/images/images.png" style="width:60px; height:60px; margin:0px 3px  ">PackXprez Logistics
  </a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="font-family:Tunga">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/status" class="nav-link" href="#">Track Package</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/registration" class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="/check" class="nav-link" href="#">Check Availability</a>
      </li>

    </ul>
  </div>
</nav>
<br />
<br />

