<app-customer-layout></app-customer-layout>
<div class="fieldsetsmall" style="text-align:center">
  <form #addressForm="ngForm" (ngSubmit)="UpdateAddress(addressForm)">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label style="text-align:left">Building No:</label>
      </div>
      <div class="col-md-4">
        <input class="form-control" name="buildingNo" type="text" ngModel required #bulidingValidation="ngModel" [ngModel]="addObj.buildingNo" pattern="^[A-Za-z0-9]+$">
        <div style="text-align:center; padding-top:5px; color:red;">
          <div *ngIf="bulidingValidation.errors && (bulidingValidation.dirty||bulidingValidation.touched)">
            <div [hidden]="!bulidingValidation.errors.required">
              Buliding number is mandatory
            </div>
            <div [hidden]="!bulidingValidation.errors.pattern">
              Buliding number is invalid
            </div>
          </div>
        </div>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label style="text-align:left">Street No:</label>
      </div>
      <div class="col-md-4">
        <input class="form-control" name="streetNo" type="text" ngModel required #streetValidation="ngModel" [ngModel]="addObj.streetNo" pattern="^[A-Za-z0-9]+$">
        <div style="text-align:center; padding-top:5px; color:red;">
          <div *ngIf="streetValidation.errors && (streetValidation.dirty||streetValidation.touched)">
            <div [hidden]="!streetValidation.errors.required">
              Street number is mandatory
            </div>
            <div [hidden]="!streetValidation.errors.pattern">
              Street number is invalid
            </div>
          </div>
        </div>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label style="text-align:left">Locality:</label>
      </div>
      <div class="col-md-4">
        <input class="form-control" name="locality" type="text" ngModel required #locValidation="ngModel" [ngModel]="addObj.locality" pattern="^[A-Za-z]+$">
        <div style="text-align:center; padding-top:5px; color:red;">
          <div *ngIf="locValidation.errors && (locValidation.dirty||locValidation.touched)">
            <div [hidden]="!locValidation.errors.required">
              Locality is mandatory
            </div>
            <div [hidden]="!locValidation.errors.pattern">
              Locality is invalid
            </div>
          </div>
        </div>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label style="text-align:left">Pincode:</label>
      </div>
      <div class="col-md-4">
        <input class="form-control" name="pincode" type="text" ngModel required #pinValidation="ngModel" [ngModel]="addObj.pincode" pattern="^[1-9][0-9]{5}$">
      </div>
      <div style="text-align:center; padding-top:5px; color:red;">
        <div *ngIf="pinValidation.errors && (pinValidation.dirty||pinValidation.touched)">
          <div [hidden]="!pinValidation.errors.required">
            Pincode is mandatory
          </div>
          <div [hidden]="!pinValidation.errors.pattern">
            Pincode is invalid
          </div>
        </div>
      </div>
    </div><br />

    <div class="row"  style="text-align:center">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <input type="submit" value="Update" />
      </div>

      <div class="col-md-4">
        <input type="button" value="Remove" (click)="RemoveAddress()" />

      </div>
    </div>

  </form>
</div>
